<%- include('../header'); -%>
                            
<div class="h1 card-title border-bottom border-light pb-3">Medic</div>

<form class="p-4" action="/medic/<% if(method && method =='create') { %>store<%  } else { %><% if(medic) { %><%= medic.id %><%  } %>/update<% } %>" method="post">
    <% if(typeof clinics !== 'undefined' && clinics.length !== 0) { %>
    <div class="form-group">
        <label for="clinicId">Example select</label>
        <select class="form-control" id="clinicId" name="clinicId">
        <% clinics.forEach(function(clinic) { %>
            <option value="<%= clinic.id %>"><%= clinic.nume %></option>
        <% }); %>
        </select>
    </div>
    <% } %>

    <div class="form-group">
        <label for="nume">Nume</label>
        <input type="text" name="nume" class="form-control" id="nume" value="<% if(medic) { %><%= medic.nume %><%  } %>">
        
    </div>
    <div class="form-group">
        <label for="specializare">Specializare</label>
        <input type="text" class="form-control" name="specializare" id="specializare" value="<% if(medic) { %><%= medic.specializare %><%  } %>">

    </div>

    <div class="form-group text-right">
        <button type="submit" class="btn btn-primary">Salveaza</button>
    </div>
</form>  

<%- include('../footer'); -%>