<%- include('../header'); -%>

    <div class="row border-bottom border-light mb-4">
        <div class="col">
        <div class="h1 card-title">Clinici</div>
        </div>
        <div class="col text-right">
        <a class="btn btn-success" href="/clinica/creaza">Adauga clinica</a>
        </div>
    </div>
    <div class="table-responsive-sm">
        <table class="table table-bordered bg-light table-hover table-fixed">
        <thead class="bg-secondary text-white">
        <tr>
            <th scope="col" class="text-center" >#</th>
            <th scope="col" class="text-center" >Nume</th>
            <th scope="col" class="text-center" >Localizare</th>
            <th scope="col" class="text-center" >Actiuni</th>
        </tr>
        </thead>
        <tbody>
            <% clinics.forEach(function(clinic) { %>
            <tr>
            <td scope="row" width="5%" class="text-center"><%= clinic.id %></td>
            <td width="40%"> <%= clinic.nume %> </td>
            <td width="40%"> <%= clinic.locatie %> </td>
            <td width="15%" class="text-center">
                <a class="btn btn-info" style="font-size: 10px;" data-toggle="tooltip" data-placement="top" title="view" href="/clinica/<%= clinic.id %>/vizualizare"> view </a>
                <a class="btn btn-secondary" style="font-size: 10px;" data-toggle="tooltip" data-placement="top" title="edit" href="/clinica/<%= clinic.id %>/editare"> edit </a>
                <a class="btn btn-danger" style="font-size: 10px;" data-toggle="tooltip" data-placement="top" title="delete" href="/clinica/<%= clinic.id %>/delete"> del </a>
            </td>
            </tr>
            <% }); %>
        </tbody>
        </table>
    </div>

<%- include('../footer'); -%>