<%- include('../header'); -%>

    <div class="row border-bottom border-light mb-4">
        <div class="col">
        <div class="h1 card-title">Cabinet: <% if(clinic) { %><%= clinic.nume %><%  } %></div>
        </div>
        <div class="col text-right">
        <a class="btn btn-secondary" href="/clinica/<% if(clinic) { %><%= clinic.id %><%  } %>/editare">Editeaza</a>
        <a class="btn btn-danger" href="/clinica/<% if(clinic) { %><%= clinic.id %><%  } %>/delete">Sterge</a>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Localizata in: <% if(clinic) { %><%= clinic.locatie %><%  } %></li>
    </ul>

<%- include('../footer'); -%>